<h1>Super plan lekcji xD</h1>
<ul>
<% @cards.each do |c| %>
  <li>Nr dnia: <%= c.day  %>,
  Nr lekcji: <%= c.period  %>,
  <%= c.lesson.teacher.name %>,
  <%= c.lesson.group.name unless c.lesson.group.nil? %>,
  <%= c.lesson.squad.short unless c.lesson.squad.nil? %>,
  <%= c.lesson.subject.short %>,
  </li>
<% end %>
</ul>
<!-- <% Squad.all.each do |s| %>

  <%= s.short %>, <%= s.teacher.name unless s.teacher.nil? %> <br>

<% end %> -->
