<div class="hours">
	<% (@min..@max).each do |num| %>								
		<div class="hourbox" style="width: calc(100% / <%= Setting.max %>) !important">
			<p class="number"> <%= num %> </p>
			<p class="number" id="hour"> <%= @periods[num] %> </p>
		</div>
	<% end %>
</div>
<div class="day">Pn</div>
<div class="days">
	<% @cards_monday.each do |xd| %>
		<div class="box" style="width: calc(100% / <%= Setting.max %>) !important">
			<p class="teachername"> <%= xd.lesson.teacher.short %></p>
			<p class="classroom"> <%= xd.classroom.short unless xd.classroom.nil? %></p>
			<p class="subject"> <%= xd.lesson.subject.short %></p>
		</div>
	<% end %>
</div>
<div class="day">Wt</div>
<div class="days">
	<% @cards_tuesday.each do |xd| %>
		<div class="box" style="width: calc(100% / <%= Setting.max %>) !important">
			<p class="teachername"> <%= xd.lesson.teacher.short %></p>
			<p class="classroom"> <%= xd.classroom.short unless xd.classroom.nil? %></p>
			<p class="subject"> <%= xd.lesson.subject.short %></p>
		</div>
	<% end %>
</div>
<div class="day">Śr</div>
<div class="days">
	<% @cards_wednesday.each do |xd| %>
		<div class="box" style="width: calc(100% / <%= Setting.max %>) !important">
			<p class="teachername"> <%= xd.lesson.teacher.short %></p>
			<p class="classroom"> <%= xd.classroom.short unless xd.classroom.nil? %></p>
			<p class="subject"> <%= xd.lesson.subject.short %></p>
		</div>
	<% end %>
</div>
<div class="day">Czw</div>
<div class="days">
	<% @cards_thursday.each do |xd| %>
		<div class="box" style="width: calc(100% / <%= Setting.max %>) !important">
			<p class="teachername"> <%= xd.lesson.teacher.short %></p>
			<p class="classroom"> <%= xd.classroom.short unless xd.classroom.nil? %></p>
			<p class="subject"> <%= xd.lesson.subject.short %></p>
		</div>
	<% end %>
</div>
<div class="day">Pt</div>
<div class="days">
	<% @cards_friday.each do |xd| %>
		<div class="box" style="width: calc(100% / <%= Setting.max %>) !important">
			<p class="teachername"> <%= xd.lesson.teacher.short %></p>
			<p class="classroom"> <%= xd.classroom.short unless xd.classroom.nil? %></p>
			<p class="subject"> <%= xd.lesson.subject.short %></p>
		</div>
	<% end %>
</div>